$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "colors";

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.image {
  @extend .col-lg-12, .col-md-12, .col-xs-12;
  padding: 0;
  text-align: center;

  img {
    width: 75%;
    height: 80%;
    transition: .8s opacity;
    margin-bottom: 1em;
  }
}












